html {
    height: 100%;
}

body {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    height: 100%;
}

.cCol { color: var(--vscode-debugTokenExpression-string); }
.nCol { color: var(--vscode-debugTokenExpression-number); }
.lCol { color: var(--vscode-debugTokenExpression-boolean); }

#table-cnt {
    width: 78%;
    height: 98%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
}
#empty-scroll {
    width: 1%;
    display: inline-block;
    position: absolute;
    top: 0;
}

#info-cnt {
    width: 18%;
    float: right;
    height: 98%;
    height: 98%;
    display: block;
    overflow-y: scroll;
}

#info-cnt p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#table-cnt table {
    border-collapse: collapse;
    position: absolute;
}
#table-cnt th,#table-cnt td {
    border: 1px solid var(--vscode-editor-lineHighlightBorder);
    padding: 0.2em;
    white-space: pre;
}
#table-cnt .noborder {
    border: none;
    background-color: transparent;
}

#table-cnt thead tr th {
    background-color: var(--vscode-editor-symbolHighlightBackground);
}

#table-cnt thead tr:nth-child(1) th {
    cursor: pointer;
    position: relative;
}

.sort-asc:after {
	font: normal normal normal 16px/1 codicon;
    content: "\EB71";
    position: absolute;
    right: 3px;
    background-color: var(--vscode-editor-symbolHighlightBackground);
    border-radius: 50%;
}

.sort-desc:after {
	font: normal normal normal 16px/1 codicon;
    content: "\EB6E";
    position: absolute;
    right: 3px;
    background-color: var(--vscode-editor-symbolHighlightBackground);
    border-radius: 50%;
}

#table-cnt tbody tr:nth-child(odd) {
    background-color: var(--vscode-editor-inactiveSelectionBackground);
}

#table-cnt tbody>tr>td:nth-child(1) {
    color: var(--vscode-editorLineNumber-foreground);
}

#table-cnt .filled td.loading {
    display: none;
}

#table-cnt .empty td.loading {
    background: linear-gradient(90deg, transparent 49%, var(--vscode-progressBar-background) 49%, var(--vscode-progressBar-background) 52%, transparent 52%);
    animation: loading 10s linear infinite;
    background-size: 200% 1px;

}

#table-cnt .empty td:nth-child(n+3) {
    display: none;
}

#table-cnt .deleted td:nth-child(n+3) {
    text-decoration: line-through;
}

@keyframes loading {
    0%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

input {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;

}
::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.selected {
    background-color: var(--vscode-editor-hoverHighlightBackground);
}

.codicon[class*='codicon-'] {
	font: normal normal normal 16px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.codicon-check:before { content: "\eab2" }
.codicon-chrome-minimize:before { content: "\eaba" }

.checkbox {
	height: 18px;
    width: 18px;
    border: 1px solid var(--vscode-checkbox-border);
    border-radius: 3px;
    /*margin-right: 9px;
    margin-left: 0;*/
    padding: 0;
	background-color: var(--vscode-checkbox-background);
	color: var(--vscode-checkbox-foreground);
}

